<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Excel Enclosures : Daily Summary</title>

<div th:replace="fragments/header :: header-css" />

<link rel="stylesheet" type="text/css"
	href="../../dhtmlx/windows/codebase/fonts/font_roboto/roboto.css" />
<link rel="stylesheet" type="text/css"
	href="../../dhtmlx/windows/codebase/dhtmlxwindows.css" />
<script src="../../dhtmlx/windows/codebase/dhtmlxwindows.js"></script>
<script src="../../dhtmlx/suite/codebase/dhtmlx.js"></script>
<link rel="stylesheet" type="text/css"
	href="../../boot-table/bootstrap-table.min.css" />
<script src="../../boot-table/bootstrap-table.min.js"></script>

<script src="../../js/summary.js"></script>
</head>
<body>

	<div th:replace="fragments/header :: header" />


	<div class="container" id='container'>
		<h3>Daily Summary</h3>
		<table id="table"></table>

	</div>
	<script>
		populateTable();
	</script>
	<div th:replace="fragments/footer :: footer" />

</body>
</html>